<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/zipping.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script>
      $( document ).ready(function() {
        var circle = new ProgressBar.Circle('#progressbar', {
          strokeWidth: 20,
          easing: 'easeInOut',
          duration: 1400,
          color: '#3261ad',
          trailColor: '#eee',
          trailWidth: 20,
          svgStyle: null
        });
        var file = '<%= file %>';
        var total = <%= total %>;
        iId = setInterval(function() {poll(circle, total, file)}, 500);
        $( "#status").html("0/" +  total);
      });
      function poll(circle, total, file){
        $.get( "/zip/polling/" + file ).done(function( data ){
          if (data && data.startsWith("/download")){
            clearInterval(iId);
            circle.animate(1);
            $( "#status").html("<a target='_blank' href='" + data + "'>Download</a>");
            $( "#title").html("Done!");
            
          }else{
            console.log(data + "/" + total);
            //On average, we'll be halfway through zipping file_n while the last zipped file was file_(n-1).
            const fudgeFactor = 0.5; 
            circle.animate((parseFloat(data) + fudgeFactor) / parseFloat(total));
            $( "#status").html(data + "/" +  total);
          }
          
        });
      }
    </script>
</head>
<body>
  <div class="zipping">
   <div id="title">Please wait, the files are being zipped...</div>
    <div  style="width: 100px;  margin: 20px auto 20px auto;" id="progressbar"></div>
    <div id="status"></div>
  </div>
</body>
</html>