<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/error.css">
</head>
<body>
  <div class="error">
    <h3>Error</h3>
    <%= msg %>
  </div>
</body>
</html>